* {
    margin:0;
    padding: 0; 
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;
}

.marginleft {
    margin-left: 40px;
}

.margintop {
    margin-top: 20px;
}

#tre {
    margin-top: 20px;
}

header {
    width:100%;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    
}
img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}

main {
    background-color: #e9f0f778;
    width: 100%;
    height: 1000px;
}

.rettangolo {
    margin: 0 auto;
    width: 80%;
    height: 50em;
    background-color: white;
    position: relative;
    top: 40px;
}

div button {
    margin-top: 10px;
    font-size:15px;
}

.uno {
    color:white;
    background-color: #52a1f6;
    border-radius: 5px;
    padding:5px;
    border:none;
}
.due {
    color:gray;
    background-color: white;
    border-radius: 5px;
    padding:5px;
    border-color: gray;
    border:1px solid;
}

hr {
    color: #fbecec45;
    margin-top:10px;
}

li {
    list-style: none;
    margin-top:10px;
}

section {
    font-size: 20px;
}

#blue {
    background-color: #52a1f6;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}
#purple {
    background-color: #8f1bac;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}
#pink {
    background-color: #ca4eba;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}
#erba {
    background-color: #afe24f;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}
#green {
    background-color: #67cc94;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}
#orange {
    background-color: #ffcd82;
    color:white;
    border-radius: 17px;
    font-size: 15px;
    padding: 8px;
}

#simboloverde {
    color:lightgreen;
}

#simbolorosso {
    color:red;
}

#primo {
    margin-top: 3%;
}